@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-100;
  -webkit-font-smoothing: antialiased;
}

.title {
  @apply text-5xl font-bold text-violet-500;
}

.linkActive {
  position: relative;
}

.linkActive::before {
  content: '';
  position: absolute;
  top: calc(50% - 8px);
  @apply h-4 w-4 bg-green-500 z-50 left-[-8px] rotate-45;
}